footer {
    height: 22.5rem;
    border: 0.2rem solid #e46e48;
    background-color: #011e22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
            a {
                color: #d7d7d7;
                font-family: "Roboto";
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 3.6rem;
                text-decoration: none;
                padding: 0 1.0rem;

                &:hover{
                    font-weight: 700;
                }
            }

            .with-border {
                border-left: 0.1rem solid #FFF;
            }
        }
    }
}

.socials{

    ul{
        display: flex;
        flex-direction: row;

        justify-content: center;
        list-style: none;
        padding: 0;

        li{
            padding: 0 0.5rem;
        }

    }
}
