@import "about";
@import "contact";
@import "services";
@import "reviews";
@import "work";
@import "footer";

html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

.bar {
    margin: 2.5rem;
    width: 5.8rem;
    height: 0.6rem;
    background-color: #02c6d8;
}

.container {
    padding: 5rem 0;
}

.btn {
    // color: #ffffff;
    font-family: "Damion", cusive;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.36);

    a {
        color: #ffffff;
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.banner {
    display: flex;
    width: 100%;
}

.main-header {
    display: flex;
    width: 100%;
    padding: 0.5rem;
}

.banner-background {
    background-image: url("../images/background-1.jpg");
    width: 100%;
    height: 70.0rem;
    background-size: cover;
}

.main-logo {
    width: 15.9rem;
    height: 6.5rem;
}

.banner-nav {
    display: flex;
    flex-flow: row;
    width: 85%;

    ul {
        list-style: none;
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 25rem;
    }

    .info {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.252rem;
        text-transform: uppercase;
        justify-content: space-between;

        &:hover {
            font-weight: 900;
        }
    }
}

.portfolio-txt-area {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.see-portfolio {
    display: flex;
    flex-direction: row;
    padding: 0 1.0rem;
}

.portfolio-txt {
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.21);
    color: #ffffff;
    line-height: 6.0rem;
    text-transform: uppercase;
}

.first-txt {
    font-weight: 400;
    font-size: 3.6rem;
}

.second-txt {
    font-size: 6.0rem;
    font-weight: 500;
}

.about-portfolio {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.cta-button {
    width: 24.3rem;
    height: 6.1rem;
    background-color: #9068be;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 2.4rem;

    &:hover {
        transform: scale(1.02);
    }

    a {
        letter-spacing: 0.075rem;
        text-align: center;
    }
}