@import "about";
@import "contact";
@import "services";
@import "reviews";
@import "work";
@import "footer";

html {

    font-size: 10px;
}

body{
    width: 100%;
    margin: 0;
}

.container {

    padding: 5rem 0 5rem 0;
}

.btn{
    // color: #ffffff;
    font-family: "Damion";
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: #ffffff;
    }
    &:hover{
        transform: scale(1.05);
    }
}

.banner {
    display: flex;
    width: 100%;
}

.main-header {
    display: flex;
    width: 100%;
    padding: 5px;
}

.banner-background {
    background-image: url("../images/background-1.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
}

.main-logo {
    width: 159px;
    height: 65px;
}

.banner-nav {
    padding-left: 8%;
    display: flex;
    flex-flow: row;
    width: 60%;
    align-self: flex-end;

    ul {
        list-style: none;
        display: flex;
        flex-flow: row;
        padding-left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .info {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 22.52px;
        text-transform: uppercase;
        justify-content: space-between;

        &:hover {
            font-weight: 900;
        }
    }
}

.portfolio-txt-area {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.see-portfolio {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.portfolio-txt {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    line-height: 60px;
    text-transform: uppercase;
}

.first-txt {
    font-weight: 400;
    font-size: 36px;
}

.second-txt {
    font-size: 60px;
    font-weight: 500;
}

.about-portfolio {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.cta-button {
    width: 243px;
    height: 61px;
    box-shadow: 0 0 10px rgba(4, 76, 84, 0.34);
    background-color: #9068be;
    font-family: 'Damion', cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.02);
    }

    a {
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 0.75px;
        text-align: center;
    }
}
