.about {
    padding: 0 1.5rem;
    height: 85.0rem;
}

.about-main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-headline {
    color: #828282;
    font-size: 3.0rem;
    font-weight: 400;
    line-height: 2.252rem;
    padding: 6.7rem 0 0;
}

.about-txt {
    padding: 3.0rem 2.0rem 2.0rem;
    text-align: center;
    color: #828282;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
}

.about-photo {
    z-index: 2;
    box-shadow: 0 0 4.0rem #dfe2e7;
    height: 45.7rem;
    width: 46.9rem;
}

.about-ps {
    width: 73.7rem;
    height: 36.4rem;
    background-color: #f6f6f6;
    display: flex;
    padding-left: 6.0rem;
    padding-right: 3.0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-2.0rem);

    .first-about-p {
        color: #555555;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
    }
}

.about-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-cta {
    align-self: flex-start;
    color: #e46e48;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}




@media (min-width: 321px) and (max-width: 767px) {

    .about {
        height: 100.0rem;
    }

    .about-comment{
        flex-direction: column;
        transform: translateY(-10rem)

    }

    .about-ps{
        transform: translateY(-18rem) scale(0.8);


        .first-about-p{
            font-size: 2rem;
            text-align: center;

        }


        .second-about-p{
            display: none;
        }


    }

    .about-photo{
        transform: scale(0.4);

    }


}
