.contact {
    height: 14.3rem;
    background-color: #9068be;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-txt {
    display: flex;
    flex-direction: column;

    .c-txt-1 {
        color: #ffffff;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 2.4rem;
    }

    .c-txt-2 {
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
    }
}

.contact-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .inp-email {
        margin: 0 1.0rem;
    }

    .contact-input {
        width: 25.4rem;
        height: 4.6rem;
        background-color: #ffffff;
        color: #ababab;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
        letter-spacing: 0.035rem;
    }

    .contact-button {
        width: 18.2rem;
        height: 4.6rem;
        background-color: #e46e48;

        a {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 2.4rem;
            letter-spacing: 0.06rem;
        }
    }
}

@media (min-width: 321px) and (max-width: 610px) {
    .contact {
        height: 40rem;
        flex-direction: column;
        justify-content: space-around;
    }

    .contact-txt{
        transform: translateY(30px);
        text-align: center;
        justify-content: space-between;


    }

    .contact-inputs {
        height: 40%;
        flex-direction: column;

    }
}

@media (min-width: 611px) and (max-width: 767px) {

    .contact {
        height: 17rem;
        flex-direction: column;
        justify-content: space-around;
    }

}
