.reviews {
    display: flex;
    height: 73.0rem;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .reviews-txt-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;
        text-align: center;


    }

    .reviews-title{
        color: #828282;

font-size: 3.0rem;
font-weight: 400;
line-height: 2.252rem;

    }

    .reviews-paragraph{
        color: #828282;

font-size: 1.8rem;
font-weight: 400;
line-height: 3.0rem;
padding-top: 2.0rem;
    }
}



.reviews-boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5.0rem;

    .cyt {
        width: 5.9rem;
        height: 5.7rem;
        color: rgba(144, 104, 190, .5);
        font-size: 20.0rem;
        font-weight: 400;
        line-height: 3.0rem;
        transform: translateY(3.5rem);
    }
}

.review-box {
    width: 37.3rem;
    height: 25.9rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: #555555;

        font-style: italic;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.4rem;
        width: 32.0rem;
        height: 15.9rem;
        align-self: center;
    }

    .review-photo {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        transform: translateY(3.0rem);
        font-family: "Damion";
        font-weight: 400;
        line-height: 1.8rem;

        .client-name {
            color: #02c6d8;
            font-size: 1.8rem;
            padding-top: 0.5rem;
        }

        .client-website {
            color: #9068be;
            font-size: 2.4rem;
        }
    }
}

@media (min-width: 321px) and (max-width: 767px) {

    .reviews {
        height: 90.0rem;

    }

}

// @media (min-width: 611px) and (max-width: 767px) {
//
// }
