.services {
    background-color: #f6f6f6;
    height: 77.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services-main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    span {
        color: #828282;
        font-size: 3.0rem;
        font-weight: 400;
        line-height: 2.252rem;
    }

    p {
        color: #828282;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3.0rem;
        text-align: center;
        padding-top: 2.0rem;
    }
}

.services-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coaching::after {
    position: absolute;
    content: "";
    height: 14.0rem;
    width: 14.0rem;
    border-radius: 100%;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.36);
    background-color: #9068be;
    background-image: url("../images/coaching.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-15.0rem);
}

.development::after {
    position: absolute;
    content: "";
    height: 14.0rem;
    width: 14.0rem;
    border-radius: 100%;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.36);
    background-color: #02c6d8;
    background-image: url("../images/development.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-15.0rem);
}

.service-box {
    position: relative;
    width: 57.3rem;
    height: 29.7rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 2.4rem;
    }

    p {
        color: #555555;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: center;
        padding: 0 1.0rem;
    }

    .services-button {
        width: 17.0rem;
        height: 4.3rem;
        transform: translateY(5rem);

        a {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 2.4rem;
            letter-spacing: 0.055rem;
        }

        &:hover {
            transform: translateY(5.5rem);
        }
    }

    .move-down {
        transform: translateY(5.0rem);
    }
}

.title-coa {
    color: #9068be;
}

.title-dev {
    color: #02c6d8;
}

.btn-coa {
    background-color: #e46e48;
}

.btn-dev {
    background-color: #326c73;
}


@media (min-width: 321px) and (max-width: 610px) {

    .services{
        height: 160rem;

    }

    .services-boxes {
        display: flex;
        flex-direction: column;
        align-self: center;



    }

    .service-box{
        height: 35rem;
        width: 35rem;

    }

    .coaching{
        margin-bottom: 18rem;

    }

    .coaching::after {
        transform: translateY(-20.0rem);
    }

    .development::after {
        transform: translateY(-20.0rem);
    }

}

@media (min-width: 611px) and (max-width: 767px) {

    .services{
        height: 88rem;

    }

    .services-boxes {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        width: 100%;



    }

    .service-box{
        height: 43rem;
        width: 30rem;

    }

    .coaching::after {
        transform: translateY(-25.0rem);
    }

    .development::after {
        transform: translateY(-25.0rem);
    }

    




}
